.form-signin {
  width: 40%;
  padding: 15px;
  margin: auto;
}

#formLogin,
#formSignup {
  min-width: 340px;
  max-width: 400px;
}

#f5f5f5 .form-signin .form-floating:focus-within {
  z-index: 2;
}

.mt-3 p {
  text-align: center;
}

.btn-outline-danger {
  margin-right: 37%;
}

.btn-outline-success {
  margin-right: 41%;
}

.btn-outline-succes {
  border: 2px green solid;
  margin-right: 41%;
  color: green;
}

.btn-outline-dange {
  border: 2px red solid;
  margin-right: 30%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img {
  height: 30px;
}

.img-fluid {
  width: 70%;
}

.card {
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

#formUser {
  max-width: 600px;
}

h6 {
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

.bi {
  margin-left: 5px;
  font-size: 30px;
}

.formBio {
  min-height: 200px !important;
}

.btnUser {
  width: 200px !important;
}

#formCreateArticle,
#formUser {
  min-width: 350px;
}

#formCreateArticle {
  text-align: center;
}

.formGetArticles {
  min-width: 330px;
}

.form-label {
  width: 100%;
  padding-left: 43%;
}

textarea.formContent {
  min-height: 150px;
}

.btnArticle {
  max-width: 150px;
}

a:link {
  text-decoration: none;
}

#linkSignup {
  font-size: 30px;
  color: red;
}

#linkLogin {
  font-size: 30px;
  color: rgb(135, 63, 190);
}

#linkSignup:hover {
  display: inline-block;
  transform: scale(1.1);
}

#linkLogin:hover {
  display: inline-block;
  transform: scale(1.1);
}

.cardHome {
  max-width: 500px;
  min-width: 280px;
}

.bannerUsers {
  position: fixed;
  margin-left: 20px;
}

@media all and (max-width: 1050px) {
  .bannerUsers {
    display: none;
  }
}
